In [3]:
import numpy as np
import pandas as pd

df = pd.read_csv('MediumTicket.csv')
df.head(25)

           Country  TotalUSD  Quantity  MediumTicket
0          Hungary    446.62        38     11.753158
1          Ireland    446.62        38     11.753158
2   Czech Republic    879.24        76     11.568947
3            Chile    415.62        38     10.937368
4          Austria    404.62        38     10.647895
5           Norway    362.62        38      9.542632
6              USA   4667.06       494      9.447490
7      Netherlands    352.62        38      9.279474
8          Finland    350.62        38      9.226842
9          Germany   1392.48       152      9.161053
10          France   1722.10       190      9.063684
11        Portugal    687.24        76      9.042632
12           India    667.28        74      9.017297
13          Sweden    340.62        38      8.963684
14          Canada   2689.96       304      8.848553
15          Brazil   1677.10       190      8.826842
16  United Kingdom   1003.86       114      8.805789
17       Argentina    334.62        38      8.805789
18       Australia    334.62        38      8.805789
19         Denmark    334.62        38      8.805789
20           Italy    334.62        38      8.805789
21         Belgium    334.62        38      8.805789
22          Poland    334.62        38      8.805789
23           Spain    334.62        38      8.805789